<div class="container custom-container-2">
    <label for="exampleFormControlSelect1">Color</label>
    <select class="form-control" id="exampleFormControlSelect1" required [(ngModel)]="chicken.color">
      <option>Black</option>
      <option>White</option>
      <option>Brown</option>
    </select>
    </div>

<div class="container custom-container-2">
    <label for="customRange2">Set weight</label>
    <input type="range" required [(ngModel)]="chicken.weight" class="custom-range" min="0" max="10" id="customRange2">
    <br>
    <br>
    <span style="background-color: blue; color: white; padding: 2%">Selected: {{chicken.weight}}</span>
<br><br>
</div>

<div class="container custom-container-2">
    <button class="btn btn-success btn-lg btn-block" (click)="addChicken()">Create Chicken</button>
</div>